html,
body {
  width: 100%;
  height: 100%;
}

/* Navbar Section */

#brand-logo {
  width: 50px;
}

.navbar {
  background-color: #dceff9;
}

.navbar-brand span {
  font-weight: bold;
  color: #34a2dd;
  font-family: "Lobster", cursive;
  text-shadow: 2px 2px 4px rgba(113, 113, 113, 0.5);
}

.navbar-nav .nav-item .nav-link {
  font-family: "Playfair Display", serif;
  color: #34a2dd;
  font-weight: bold;
}

.nav-link .icon-text {
  margin-left: 8px;
}
.navbar-nav .nav-link:hover {
  border-bottom: 3px solid #34a2dd;
  font-weight: bold;
}

.dropdown-menu a {
  color: #34a2dd;
}
.dropdown-menu a:hover {
  font-weight: bold;
  color: #34a2dd;
}

#btn-login,
#btn-register {
  color: #34a2dd;
  border-color: #34a2dd;
  font-family: "Playfair Display", serif;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#btn-login:hover,
#btn-register:hover {
  color: white;
}

.background-image {
  background-image: url("images/background.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  height: 90vh;
}

#loginmodal,
#registermodal {
  font-family: "Noto Serif", serif;
}

/*Section-1- Home section */

#home h1,
#home h2 {
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

#home h1 {
  font-size: 2em;
}

#home h2 {
  font-size: 3em;
}

#home button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #fff;
  color: #34a2dd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Noto Serif", serif;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#home .brand-name {
  font-family: "Lobster", cursive;
}

#home button:hover {
  background-color: green;
  color: #fff;
}

/* Animation Styles for Dynamic Country Names*/

@keyframes changeCountry {
  0%,
  20% {
    content: "India";
  }
  20%,
  40% {
    content: "France";
  }
  40%,
  60% {
    content: "Germany";
  }
  60%,
  80% {
    content: "Turkey";
  }
  80%,
  100% {
    content: "United States";
  }
}

#place-name::after {
  content: "United States";
  animation: changeCountry 10s infinite;
  display: inline-block;
  color: #ded1c0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Section 2 - Booking Section */

#book {
  background: #c5eaff url("images/booking.png") no-repeat left;
  background-size: 50% 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  position: relative;
}

#book .card-img {
  width: 100%;
  height: 225px;
}

#book .row .no-gutters {
  margin-right: 0;
  margin-left: 0;
}

#book .card {
  border: 2px solid #34a2dd;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px #34a2dd;
}

#book .card:hover {
  border-color: #0056b3;
  box-shadow: 0 0 15px 5px #0056b3;
}

#book label {
  margin-bottom: 5px;
  font-family: "Playfair Display", serif;
  color: black;
}

#book input,
#book select,
#book textarea {
  margin-bottom: 15px;
  padding: 8px;
  font-family: "YourFont", sans-serif;
  color: #333;
}

#book button {
  font-family: "Playfair Display", serif;
  color: #fff;
}

#book button:hover {
  background-color: green;
}

/* Section 3 - Gallery Section */

#package-gallery .card {
  max-width: 20rem;
  margin: 10px;
}

#package-gallery .card-img-top {
  height: 220px;
  object-fit: cover;
}

#package-gallery .footer {
  height: 80px;
}

#package-gallery .card-text {
  height: 110px;
}

#package-gallery .card {
  display: flex;
}

#package-gallery .card-text,
#services .card-text {
  color: #555;
  font-family: "Open Sans", sans-serif;
}

#package-gallery .card h6 {
  color: #e44d26;
  font-family: "Playfair Display", serif;
}

#package-gallery .card .btn {
  color: #fff;
  font-family: "Playfair Display", serif;
}

#package-gallery button:hover {
  background-color: green;
}

#star {
  color: orange;
}

#package-gallery .my-hover-effect:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
}

#package-gallery .card-title,
#services .card-title {
  color: #235a9e;
  font-family: "Playfair Display", serif;
}

@media screen and (min-width: 1366px) and (max-width: 1920px) {
  .container .row {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #package-gallery .col-xs-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 280px) and (max-width: 653px) {
  #package-gallery .card {
    height: 35rem;
  }
  #package-gallery .footer {
    padding-top: 70px;
  }
}

@media (min-width: 360px) and (max-width: 740px) {
  #package-gallery .card {
    height: 31rem;
  }
  #package-gallery .footer {
    padding-top: 12px;
  }
}

/* Section 4 - About Us Section */

#aboutUs-title {
  color: #235a9e;
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 2px solid #235a9e;
  display: inline-block;
  margin-bottom: 10px;
}

#aboutUs p {
  font-family: "YourFont", sans-serif;
  text-align: justify;
}

/* Heading for all sections */

#services-heading,
#package-gallery-heading,
#gallery-heading,
#aboutUs-heading {
  border-bottom: 2px solid #34a2dd;
  display: inline-block;
  padding-bottom: 5px;
  text-align: center;
  color: #34a2dd;
  font-family: "Playfair Display", serif;
  margin: 30px;
}

/*Section 5 - Services Section*/

#services .card {
  width: 13rem;
  border: none;
  align-items: center;
}

#services .card-body {
  height: 200px;
  flex: 1;
}

#services img {
  padding: 0rem;
}

#services .wave-image {
  width: 200px;
  height: 150px;
  object-fit: contain;
  border-radius: 0;
}

#services .wave-image:hover {
  animation: wave 0.5s ease-in-out forwards;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }

  25%,
  75% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-20deg);
  }
}

/* Section 6 - Photo Gallery   */

#gallery .slick-slider img {
  object-fit: cover;
  height: 220px;
  max-width: 100%;
}

#gallery p {
  font-family: "YourFont", sans-serif;
}

#gallery .slick-slider .card {
  max-width: 15rem;
}
#gallery .card-body {
  height: 130px;
  overflow-y: hidden;
}

/* Footer Section */

#footer {
  background-color: #34a2dd;
  padding: 30px;
  margin-top: 30px;
}

#footer h5 {
  font-family: "Playfair Display", serif;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 5px;
  color: white;
  margin-bottom: 10px;
}

#footer ul p {
  font-family: "YourFont", sans-serif;
}

#footer .footer-text {
  color: white;
}

#footer #footer-brand-logo {
  width: 50px;
  margin-right: 10px;
}

#footer #footer-text {
  color: white;
  margin-bottom: 5px;
  text-align: justify;
}

#footer ul {
  list-style: none;
  padding: 0;
}

#footer ul li {
  margin-bottom: 10px;
}

#footer ul li i,
#footer ul li img {
  margin-right: 10px;
  width: 20px;
}

#social_media_link i {
  font-size: 30px;
  color: white;
  background-color: #34a2dd;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

#social_media_link i:hover {
  background-color: #297aa1;
}

#social_media_link {
  align-items: center;
  margin-top: 20px;
}

#social_media_link h5,
#social_media_link i {
  display: inline-block;
}

#social_media_link {
  text-align: center;
  margin-top: 20px;
  color: white;
}

#social_media_link h5 {
  margin-bottom: 10px;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  color: white;
}
